<footer id="footer" class="container-fluid bg-dark position-relative mt-5 d-flex flex-column justify-content-center align-items-center p-3" style="gap: 10px;">
  <div class="col">
    <h1 class="fs-1 fw-light">Masterise Homes®</h1>
  </div>
  <div class="row p-5 d-flex justify-content-between gap-5">
    <div class="col d-flex justify-content-center flex-column">
      <h4>Liên hệ</h4>
      <p>Bùi Trọng Tấn</p>
      <p>Email: Buitrongtan0@gmail.com</p>
      <p>Điện thoại : 0388433654</p>
    </div>
    <div class="col d-flex justify-content-center flex-column">
      <h4>Kinh nghiệm</h4>
      <p>2 tháng ReactNative tại GiaVusoftware</p>
      <p>6 tháng Angular12 tại Rikkeisoft</p>
    </div>
    <div id="social-medias" class="col d-flex justify-content-center align-items-center">
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#" alt="" class="px-3 fs-5 link-light text-decoration-none">
        <i class="fab fa-youtube"></i>
      </a>
    </div>
    
  </div>
</footer>